{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% comment %} bootstrap {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% comment %} css {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header class="header sticky-top d-flex align-items-center">
    <a href="{% url 'main:catalog' %}" class="header-logo">
        <img src="{% static 'img/rev.png' %}" alt="logo">
    </a>
    <div class="header-nav d-flex gap-4">
        <a href="{% url 'users:profile' %}" class="h-profile">
            <img src="{% static 'img/profile.png' %}" alt="profile">
        </a>
        <a href="{% url 'cart:cart_detail' %}" class="h-cart">
            <img src="{% static 'img/cart.png' %}" alt="cart">
        </a>
        <div class="forsearch">
            <a href="#" id="toggle-search" class="toggle-search">
                <img src="{% static 'img/search.png' %}" alt="search">
            </a>
            <div class="search-popup" id="search-popup" style="display: none">
                <form class="search-form d-flex" action="" method="GET" id="search-form">
                    <div class="input-container">
                        <input type="text" class="form-input" name="q" placeholder="Search...">
                        <button type="submit" class="btnforsearch"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<div class="container">
    {% block content %}{% endblock %}
</div>

<script>
    document.getElementById('toggle-search').addEventListener('click', function (event) {
        event.preventDefault();
        const searchPopup = document.getElementById('search-popup')

        if (searchPopup.style.display === 'none' || searchPopup.style.display === '') {
            searchPopup.style.display = 'block';
        } else {
            searchPopup.style.display = 'none';
        }
    })
</script>

{% comment %} js for bootstrap {% endcomment %}
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
